
.left-images img,
.content .title-group,
.content .dev {
  opacity: 0;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal {
  opacity: 0;
}

.reveal.show {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.reveal.from-right.show {
  animation-name: fromRight;
}

.reveal.from-left.show {
  animation-name: fromLeft;
}

.reveal.from-bottom.show {
  animation-name: fromBottom;
}

.reveal.from-top.show {
  animation-name: fromTop;
}

.reveal.fade.show {
  animation-name: fadeIn;
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.7s;
}
.delay-4 {
  animation-delay: 0.9s;
}
.delay-5 {
  animation-delay: 1.1s;
}
.delay-6 {
  animation-delay: 1.3s;
}
.delay-7 {
  animation-delay: 1.5s;
}

/*---KEYFRAMES---*/
@keyframes fadeIn {
  to {
    opacity: 1;
    transition: 0.5s;
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}